* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.white {
    background-color: white;
}

/* / COMMON */

/* HEADER */

.header{
    width: 100%;
}  

.menu {
    width: 100%;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-left {
    float: left;
    vertical-align: middle;
    line-height: 80px;
}

.menu-right {
    float: right;
    line-height: 80px;
}

.logo {
    display: inline;
    vertical-align: middle;
    padding-right: 20px;    
}
.logo:hover{
    cursor: pointer;
}
.menu nav {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    line-height: 80px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 28px;

}

.menu a:hover {
    border-bottom: 2px solid black;
}

.btn {
    display: inline;
    background-color: #0061ff;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    margin-left: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: #468dff;
}

/* / HEADER */

/* SLIDER */

.slider {
    background-color:#b4d0e7;
    height: 750px;
}

.slider-wrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    max-height: 750px;
}

.slider-col {
    float: left;
    width: 40%;
    padding-right: 75px;
}

.slider-wrap img {
    float: left;
    max-width: 60%;
    height: 450px;
}

.slider-wrap h1 {
    font-size: 85px;
    margin-bottom: 50px;
}

.slider-col p {
    font-weight: 600;
    margin-bottom: 30px;
}

.slider-col .btn {
    margin-left: 0;
    padding: 10px 25px;
}

.slider-col p:last-of-type {
    font-size:14px;
    margin-top: 15px;
}

.slider-col .icon {
    font-size: 40px;
}

/* / SLIDER */

/* MAIN */

/* SEZIONE 1 */

.section {
    width: 60%;
    margin: 0 auto;
    margin-top: 200px;
}

.section h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 50px;
}
input[type=radio] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-color: #0061ff;    
}

.select-fatt {
    font-weight: 600;
    margin-right: 15px;
}

.main-wrap {
    width: 100%;
    margin-top: 40px;
}

.main-col-left,
.main-col-center,
.main-col-right {
   float: left;
}

.main-col-left {
    width: calc((100% / 3) - (120px / 3));
    border: 1px solid lightgray;
    height: 1100px;
    margin-right: 30px;
}

.main-col-center {
    width: calc((100% / 3) - (120px / 3));
    border: 1px solid lightgray;
    height: 1100px;
    margin: 0 30px;
}

.main-col-right {
    /* position: absolute; */
    /* right: 0; */
    width: calc((100% / 3) - (120px / 3));
    border: 1px solid lightgray;
    height: 1100px;
    margin-left: 30px;
}

.category {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.description {
    padding: 30px;
}

h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.price {
    font-size: 16px;
    margin-bottom: 10px;
}

.month {
    color: #687885;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 40px;
}

.col-desc {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.description .btn {
    display: inline-block;
    margin-left: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.col-desc a {
    text-decoration: none;
    color: #146dff;
}

.col-desc a:hover {
    text-decoration: underline;
}

.description hr {
    width: 50px;
    margin: 40px 0;
}

.description ul {
    list-style: none;
}

.description ul li {
    margin-bottom: 30px;
}

.description ul li:first-child {
    display: block;
    font-size: 16px;
    font-weight: 800;
}
.li-text {
    display: inline-block;
    width: calc(100% - 20px);
    font-size: 14px;
    font-weight: 600;
}

#li-check {
    display: inline-block;
    font-size: 14px;
    width: 20px;
    vertical-align: top;
    color: #0161ff;
}

/* / SEZIONE 1 */

/* SEZIONE 2 */

.section-2 {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.team-wrap {
    width: 100%;
    border: 1px solid lightgray;
}

.ufficio {
    float: left;
    width: calc((100% / 3) * 2);
    padding: 30px;
}

h4 {
    margin-bottom: 30px;
}

.team-wrap .btn {
    float: left;
    margin-left: 0;
    width: calc((100% / 3) - 30px);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}

/* / SEZIONE 2 */
/* /MAIN */


/* DEBUG */
.debug .main-wrap {
    background-color: aqua;
}

.debug .category {
    background-color: yellow;
}
/* / DEBUG */